
<mat-drawer-container class="my-sidenav-container" autosize>
    <mat-drawer #drawer class="my-sidenav" mode="side">
        <div class="my-menu" cdkMenu>
            <button class="my-menu-item" cdkMenuItem appCabecera="20px">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button class="my-menu-item" cdkMenuItem appCabecera="20px">
                <mat-icon>face</mat-icon>
                <span>Alumnos</span>
            </button>
            <button class="my-menu-item" cdkMenuItem appCabecera="20px">
                <mat-icon>folder</mat-icon>
                <span>Cursos</span>
            </button>
            <button class="my-menu-item" cdkMenuItem appCabecera="20px">
                <mat-icon>manage_accounts</mat-icon>
                <span>Usuarios</span>
            </button>
    </div>
    </mat-drawer>
    <div class="my-sidenav-content">
            <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span appCabecera="20px">HomeSchool</span>
            <div class="my-menu-logout"> 
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span appCabecera="20px">Cuenta</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>help_outline</mat-icon>
                            <span appCabecera="20px">Ayuda</span>
                        </button>
                    <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                        <span appCabecera="20px">Salir</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
    <main  class="p-3"> 
    <button mat-flat-button color="primary" (click)="showPage = !showPage">Cambiar página</button>
        <app-students *ngIf="showPage"></app-students>
    </main>
    </div>
</mat-drawer-container>

