.my-sidenav-container {
    width: 100%;
    height: 100vh;
  }
  
  .my-sidenav-content {
    height: 100%;
  }
  
  .my-sidenav {
    padding: 20px;
    width: 200px;
  }

  main {
    min-height: calc(100vh - #{64px});
  }

  .my-menu-logout{
    margin: 0 0 0 auto;
  }

  .my-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
  }
  
  .my-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .my-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .my-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
  